@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);
*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--txt);
  font-family: "Noto Serif KR", serif;
  font-size: 1.125rem;
  line-height: 1.7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: calc(80ch + 4rem);
  min-height: max(80dvh, 4rem);
  word-break: keep-all;
}

#section1 .animTarget {
  opacity: 0%;
  transform: translateY(-1rem);
  transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
}
#section1.triggered .animTarget {
  opacity: 100%;
  transform: translateY(1rem);
  color: var(--txt);
}

#section2 .animTarget {
  opacity: 0%;
  transform: translateY(-1rem);
  transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
}
#section2.triggered .animTarget {
  opacity: 100%;
  transform: translateY(1rem);
  color: var(--txt);
}

#section3 .animTarget {
  opacity: 0%;
  transform: translateY(-1rem);
  transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
}
#section3.triggered .animTarget {
  opacity: 100%;
  transform: translateY(1rem);
  color: var(--txt);
}

#section4 .animTarget {
  opacity: 0%;
  transform: translateY(-1rem);
  transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
}
#section4.triggered .animTarget {
  opacity: 100%;
  transform: translateY(1rem);
  color: var(--txt);
}

header {
  margin-block: 4rem;
}
header h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin-block: 0.5rem;
  transition: font-size 150ms ease-in-out;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 400;
}
header #h1-1 {
  text-shadow: 0px 0px 1rem var(--txt);
}
header #h1-1:hover {
  font-size: 6rem;
  text-shadow: 0px 0px 1rem var(--h1Color1);
  color: var(--h1Color1);
}
header #h1-2 {
  text-shadow: 0px 0px 1rem var(--txt);
}
header #h1-2:hover {
  font-size: 6rem;
  text-shadow: 0px 0px 1rem var(--h1Color2);
  color: var(--h1Color2);
}
header #h1-3 {
  text-shadow: 0px 0px 1rem var(--txt);
}
header #h1-3:hover {
  font-size: 6rem;
  text-shadow: 0px 0px 1rem var(--h1Color3);
  color: var(--h1Color3);
}
header #h1-4 {
  font-size: 2.5rem;
  color: gray;
}
header #h1-4:hover {
  text-shadow: 0px 0px 1rem gray;
}
header a {
  text-decoration: none;
  cursor: pointer;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
}
main h2 {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-decoration: overline;
  text-decoration-style: dotted;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  text-decoration-thickness: 1rem;
}
main .txtWrapper {
  margin-block: 1.5rem;
  margin-right: 2rem;
  padding-inline: 2rem;
  box-shadow: 1rem 1rem 1rem 1rem var(--txtShadow);
}

.animTrigger {
  position: relative;
}

aside {
  position: sticky;
  z-index: 2;
  top: 2rem;
  grid-column: 1;
  grid-row: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: max(100dvh, 4rem);
  padding-inline: 1.5rem;
  border-radius: 0 2rem 2rem 0;
  background-color: var(--surface-transparent);
  font-weight: 800;
  font-size: 0.875rem;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}
aside ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  list-style: none;
}
aside ol li {
  border: solid #ffffff;
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--onSurface);
  font-weight: 600;
}
aside ol li:hover {
  border: solid var(--accent);
  color: var(--accent);
  font-weight: 800;
}
aside ol li.pressed {
  border: solid var(--accent);
  color: var(--accent);
  font-weight: 800;
}
aside a {
  text-decoration: none;
  cursor: pointer;
}

.progressBar {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 0.25rem;
  background-color: var(--surface);
}
.progressBar .indicator {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--accent);
  inset: 0;
}

footer .wrapper {
  min-height: max(100dvh, 4rem);
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    top: 0.25rem;
    left: 1rem;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 0 0 2rem 2rem;
  }
  aside ol {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  aside ol a:first-of-type li {
    margin-left: 4px;
  }
}