@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);

$min-height: 4rem;
$wrapper-padding-inline: 2rem;
$progressBar-height: 0.25rem;

$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);
$txtShadow: var(--txtShadow);
$h1Color1: var(--h1Color1);
$h1Color2: var(--h1Color2);
$h1Color3: var(--h1Color3);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $bg;
  color: $txt;
  // font-family: 'Diphylleia', serif;
  font-family: "Noto Serif KR", serif;
  font-size: 1.125rem;
  line-height: 1.7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding-inline: $wrapper-padding-inline;
  max-width: calc(80ch + 2 * $wrapper-padding-inline);
  min-height: max(80dvh, $min-height);
  word-break: keep-all;
}

#section1 {
  .animTarget {
    opacity: 0%;
    transform: translateY(-1rem);
    transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      opacity: 100%;
      transform: translateY(1rem);
      color: $txt;
    }
  }
}

#section2 {
  .animTarget {
    opacity: 0%;
    transform: translateY(-1rem);
    transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      opacity: 100%;
      transform: translateY(1rem);
      color: $txt;
    }
  }
}

#section3 {
  .animTarget {
    opacity: 0%;
    transform: translateY(-1rem);
    transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      opacity: 100%;
      transform: translateY(1rem);
      color: $txt;
    }
  }
}

#section4 {
  .animTarget {
    opacity: 0%;
    transform: translateY(-1rem);
    transition: opacity 900ms ease-in-out, transform 700ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      opacity: 100%;
      transform: translateY(1rem);
      color: $txt;
    }
  }
}

header {
  margin-block: 4rem;
  h1 {
    width: fit-content;
    margin-block: 0.5rem;
    transition: font-size 150ms ease-in-out;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 400;
  }
  #h1-1 {
    text-shadow: 0px 0px 1rem $txt;
    &:hover {
      font-size: 6rem;
      text-shadow: 0px 0px 1rem $h1Color1;
      color: $h1Color1;
    }
  }
  #h1-2 {
    text-shadow: 0px 0px 1rem $txt;
    &:hover {
      font-size: 6rem;
      text-shadow: 0px 0px 1rem $h1Color2;
      color: $h1Color2;
    }
  }
  #h1-3 {
    text-shadow: 0px 0px 1rem $txt;
    &:hover {
      font-size: 6rem;
      text-shadow: 0px 0px 1rem $h1Color3;
      color: $h1Color3;
    }
  }

  #h1-4 {
    font-size: 2.5rem;
    color: gray;
    &:hover {
      text-shadow: 0px 0px 1rem gray;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

// section:nth-of-type(odd) {
//   background-color: $bgVariant;
// }

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;

  h2 {
    margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-decoration: overline;
    text-decoration-style: dotted;
    text-decoration-color: rgba($color: #ffffff, $alpha: 0.5);
    text-decoration-thickness: 1rem;
  }

  .txtWrapper {
    margin-block: 1.5rem;
    margin-right: 2rem;
    padding-inline: 2rem;
    box-shadow: 1rem 1rem 1rem 1rem $txtShadow;
  }
}

.animTrigger {
  position: relative;
}

aside {
  position: sticky;
  z-index: 2;
  top: 2rem;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: max(100dvh, $min-height);
  padding-inline: 1.5rem;
  border-radius: 0 2rem 2rem 0;
  background-color: $surface-transparent;
  font-weight: 800;
  font-size: 0.875rem;
  backdrop-filter: blur(0.5rem);

  ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: max-content;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;

    li {
      border: solid #ffffff;
      width: 4rem;
      height: 4rem;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $onSurface;
      font-weight: 600;

      &:hover {
        border: solid $accent;
        color: $accent;
        font-weight: 800;
      }

      &.pressed {
        border: solid $accent;
        color: $accent;
        font-weight: 800;
      }
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.progressBar {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;

  .indicator {
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    background-color: $accent;
    inset: 0;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-height;
    left: 1rem;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    // overflow-x: scroll;
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    // &::-webkit-scrollbar {
    // display: none;
    // }

    border-radius: 0 0 2rem 2rem;

    ol {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      // gap: 3rem;

      a:first-of-type li {
        margin-left: 4px;
      }
    }
  }
}
