:root {
  --bg: #000000;
  --bgVariant: #0f66f1;
  --txt: #e4e1e6;
  --surface-transparent: Transparency;
  --surface: #000000;
  --onSurface: #cac5ca;
  --accent: #ff00bb;
  --txtShadow: #e4e1e6;
  --h1Color1: aqua;
  --h1Color2: deeppink;
  --h1Color3: forestgreen;
}
