* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1248px;
  margin-inline: auto;
  padding-inline: 24px;
}

.banner {
  background-color: rgb(201, 201, 201);
  font-size: 13px;
  border-bottom: 1px solid #000;
}
.banner .wrapper {
  padding-block: 5px;
  display: flex;
  justify-content: center;
}

.topNav {
  border-bottom: 1px solid #000;
}
.topNav .wrapper {
  display: flex;
  justify-content: space-between;
}
.topNav__menuWrapper {
  padding-block: 1rem;
  display: flex;
  gap: 30px;
}
.topNav__menu {
  font-size: 1.25rem;
}

.bottomNav {
  background-color: black;
  color: white;
  container-type: inline-size;
  container-name: bottomNav;
}
.bottomNav__logo {
  padding-top: 10px;
}
.bottomNav__menuWrapper {
  color: rgb(197, 197, 197);
  padding-block: 0.625rem;
  display: flex;
  gap: 1.5rem;
}
.bottomNav .it750px {
  display: none;
}
@container bottomNav (width < 46.875rem) {
  .bottomNav__menuWrapper {
    display: none;
  }
  .bottomNav .it750px {
    display: unset;
  }
}

.it750px {
  display: none;
}

.main__media {
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  font-size: 12px;
  border-top: 1px solid #000;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.footer .wrapper .column {
  padding: 48px 0px 48px 48px;
  border-left: 1px solid #000;
}
.footer h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
.footer__extlinkWrapper {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}
@container footer (width < 50rem) {
  .footer .wrapper {
    grid-template-columns: 1fr;
    border-left: none;
  }
  .footer .wrapper .column {
    border-bottom: 1px solid #000;
  }
}

h1 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.button {
  margin-top: 48px;
  font-size: 18px;
  background-color: white;
  padding: 8px 16px;
  color: rgb(255, 42, 0);
  font-weight: 700;
  text-align: center;
}

#hero1 {
  padding-bottom: 200px;
  padding-top: 64px;
}
#hero1 .mainWrapper {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
#hero1 .mainWrapper .main__text {
  padding: 48px;
  font-size: 20px;
  font-weight: 300;
  max-width: 45ch;
  margin-inline: auto;
  line-height: 170%;
}
#hero1 .mainWrapper .main__text h3 {
  font-size: 28px;
  margin-bottom: 12px;
}
#hero1 .mainWrapper .main__media {
  aspect-ratio: 9/10;
}
#hero1 .mainWrapper > * {
  flex: 1;
}
#hero1 h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 350;
  margin-bottom: 100px;
}
@media (width < 62.5rem) {
  #hero1 .mainWrapper {
    display: unset;
    text-align: center;
    color: black;
  }
  #hero1 .main__media {
    margin-inline: auto;
    max-width: 480px;
  }
  #hero1 .main.main__text .button {
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
  }
}

#hero2 {
  border-top: 1px solid #000;
  padding-top: 64px;
  padding-bottom: 200px;
  background-color: rgb(243, 243, 242);
}
#hero2 .main__text {
  padding-top: 100px;
  padding-bottom: 32px;
}
#hero2 .main__text h2 {
  text-align: left;
  font-size: 28px;
  font-weight: 350;
  max-width: 20ch;
  line-height: 150%;
}
#hero2 .main__mediaWrapper {
  display: flex;
  margin-inline: auto;
  gap: 8px;
}
#hero2 .main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.media--text {
  padding-top: 12px;
  font-weight: 500;
  font-size: 20px;
}

.media--date {
  padding-top: 8px;
  font-weight: 400;
  font-size: 20px;
  color: gray;
}