*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  $padding-inline: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(80ch + $padding-inline);
  margin-inline: auto;
  padding-inline: $padding-inline;
  min-height: max(50dvh, 25rem);
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

.section:nth-of-type(odd) {
  background-color: cadetblue;
}
